/* Permet de faire tenir les padding & border dans les largeurs des boites */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Fait tenir les images dans leur parent et enlève l'espacement en bottom */
img {
    display: block;
    max-width:100%;
}

body{
    margin: 0;
    background: #1d0024;
background: linear-gradient(90deg, rgba(29, 0, 36, 1) 0%, rgba(119, 9, 121, 1) 41%, rgba(66, 224, 255, 1) 100%);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Stalinist One", sans-serif;
    font-size: 60px;
    color: white;
    border-bottom: 3px solid white;
}

.container{
    width: 800px;
    display: flex;
    align-items: center;
}

.top-section{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:100px;
}

.info{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Michroma", sans-serif;
    color: white;
    font-size: 18px;
}

.timer{
    width: 150px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Michroma", sans-serif;
    color: white;
    width: 200px;
}

.buttons{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.table{
    width: 500px;
    height: 550px;
    display: flex;
    gap: 30px;
}

.user{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.user_attempt{
    /* border: 1px solid blue; */
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white ;
    font-size: 30px;
}

.render{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.render_attempt{
    /* border: 1px solid blue; */
    height: 50px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

button{
    font-size: 30px;
    background-color: white;
    border-style: none;
    display: flex;
}

.left_side{
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.logDiv{
    border: 10px solid rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: "Michroma", sans-serif;
}

.result {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.red::before{
    content: "🔶";
}
.green::before{
    content: "🟢";
}
.blue::before{
    content: "🟦";
}
.yellow::before{
    content: "⚠️";
}

.plus{
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.minus{
    font-size: 35px;
    font-weight: bold;
    color: brown;
}


.result_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.start{
    font-family: "Michroma", sans-serif;
    color: rgb(212, 0, 255);
    text-align: center;
}

.hide{
    opacity: 0.3;
}

.text_result{
    font-family: "Michroma", sans-serif;
    color: white;

}
